body {
    animation-name: about;
    animation-duration: 1.5s;
    transition: .5s;
    background-color: black;
    color: white;
}
.name, .about, .skill {
    padding: 100px 0px;
    text-align: center;
    margin: 50px;
    transition: .5s;
}
.about p {
    font-size: 14px;
}
.name:hover,.about:hover, .skill:hover {
    background-color: white;
    padding: 150px;
    box-shadow: -10px 10px 100px darkcyan;
    font-size: small;
    color: black;
}
.skills {
    display: grid;
    grid-template-columns: auto auto auto;
}
.skills img {
    width: 30%;
    transition: .5s;
}
.skills img:hover {
    width: 45%;
    padding: 10px;
}
