body {
    animation-name: about;
    animation-duration: 1.5s;
    transition: .5s;
    background-color: black;
    color: white;
}
/*@keyframes about {
   from {
    background-color: white;
    opacity: 0;
    width: 400%;
    }
   to {
    background-color: black;
    opacity: 1;
    width: 100%;
    }
}*/

.name, .about, .skill, .video, .contact, #con {
    padding: 50px 0px;
    text-align: center;
    margin: 100px 30px;
    transition: .5s;
}
.about p {
    font-size: 14px;
}
.name:hover,.about:hover, .skill:hover, .video:hover, .contact:hover{
    padding: 100px;
    margin: 100px 50px;
    box-shadow: -20px 10px 50px cyan;
    border: 1px solid white;
    border-radius: 20px;
    font-size: small;
}
.skills {
    display: grid;
    grid-template-columns: auto auto auto;
}
.skills img {
    width: 30%;
    transition: .5s;
}
.skill:hover img{
    width: 50%;
    padding: 30px;
}
.skills img:hover {
    width: 70%;
    margin: 10px;
}
.video video {
    width: 100%;
}
.contact a {
    transition: .5s;
    color: white;
}
.contact:hover a {
    margin: 50px;
    font-size: 40px;
}
.contact a:nth-child(1):hover{
    text-shadow: 5px 5px 7px blue;
    font-size: 50px;
    border-radius: 20%;
}
.contact a:nth-child(2):hover{
    text-shadow: 5px 5px 7px cyan;
    font-size: 50px;
    border-radius: 20%;
}
.contact a:nth-child(3):hover{
    text-shadow: 5px 5px 7px pink; 
    font-size: 50px;
    border-radius: 20%;
}
.contact a:nth-child(4):hover {
    text-shadow: 5px 5px 7px #4078c0;
    font-size: 50px;
    border-radius: 20%;
}

