body {
    animation-name: about;
    animation-duration: 1.5s;
    transition: .5s;
    background-color: black;
    color: white;
}
/*@keyframes about {
   from {
    background-color: white;
    opacity: 0;
    width: 400%;
    }
   to {
    background-color: black;
    opacity: 1;
    width: 100%;
    }
}*/
/* Styles for every form and divs*/
.name, .about, .skill, .video, .contact, .link {
    padding: 50px 0px;
    margin: 100px 30px;
    transition: .5s;
}
.about p {
    font-size: 20px;
}
.name:hover,.about:hover, .skill:hover, .video:hover, .contact:hover, .link:hover{
    padding: 100px;
    margin: 100px 50px;
    box-shadow: -20px 10px 50px cyan;
    border: 1px solid white;
    border-radius: 20px;
    font-size: small;
}

/* My style for My Skills*/
.skills {
    display: grid;
    grid-template-columns: auto auto auto;
}
.skills img {
    width: 30%;
    transition: .5s;
}
.skill:hover img{
    width: 50%;
    padding: 30px;
}
.skills img:hover {
    width: 70%;
    margin: 10px;
}
/* Video Style*/
.video video {
    width: 100%;
}
/* My Contact Styles*/
.contact a {
    transition: .5s;
    color: white;
}
.contact:hover a, .contact:hover h1 {
    margin: 50px;
    font-size: 40px;
}
.contact a:nth-child(2):hover{
    text-shadow: 35px 5px 7px blue;
    font-size: 50px;
    border-radius: 20%;
}
.contact a:nth-child(3):hover{
    text-shadow: 45px 5px 7px cyan;
    font-size: 50px;
    border-radius: 20%;
}
.contact a:nth-child(4):hover{
    text-shadow: 45px 5px 7px rgb(244, 6, 244); 
    font-size: 50px;
    border-radius: 20%;
}
.contact a:nth-child(5):hover {
    text-shadow: 45px 5px 7px purple;
    font-size: 50px;
    border-radius: 20%;
    
}

/* My Link back to index.html*/
.link a {
    text-decoration: none;
    font-size: 25px;
    color: white;
    transition: .5s;
}
.link a:hover {
    text-shadow: 1px 1px 50px yellow;
    font-size: 30px;
    text-decoration: underline;
}
.link a:active {
    text-shadow: 1px 1px 50px cyan;
    font-size: 27px;
}

/* Class Form Input Style*/
.form {
    padding: 100px;
    transition: .5s;
}
.form:hover {
    border: 3px solid white;
    margin: 0px 50px;
    border-radius: 20px;
    box-shadow: -10px 10px 50px cyan;
}
.form h1 {
    transition: .5s;
}
.form:hover h1 {
    font-size: 45px; 
}
#visitoremail{
    padding: 2px 3px;
    width: 50%;
    font-size: 16px;
    transition: .5s;
}
#visitormessage {
    width: 70%;
    height: 200px;
    font-size: 20px;
}
