body {
    background-color: black; 
    color: white;
    text-align: center;
}
.form, .hypo, .counter, .rng, .aboutme, .header, .temperature{
    margin: 100px auto;
    width: 40%;
    text-align: center;
    color: white;
    padding: 150px;
    border: 0px solid white;
    font-size: 16px;
    transition: .5s;
}
.counter label {
    font-size: 50px;
}
#hypo-title {
    text-transform: uppercase;
}
.form:hover, .hypo:hover, .counter:hover, .rng:hover, .aboutme:hover, .header:hover, .temperature:hover {
    border: 2px solid white;
    box-shadow: -50px 20px 50px cyan;
    width: 50%;
    border-radius: 20px;
    padding: 130px;
}
.aboutme a {
    font-size: 20px;
    color: white;
    text-decoration: none; 
    transition: .2s;
}
.aboutme:hover > a {
    font-size: 30px; 
}
.aboutme a h1{
    transition: .5s;
}
.aboutme a h1:hover {
    margin: 30px;
    text-decoration: underline;
    text-shadow: 1px 1px 20px yellow;
}
.aboutme a h1:active {
    text-shadow: 10px 10px 50px wheat;
}
.form input, .hypo input, .temperature input {
    padding: 2px 3px;
    width: 200px;
    transition: .5s;
    text-align: center;
}
.form input:hover, .hypo input:hover{
    padding: 3px;
    border-radius: 10px;
    box-shadow: 10px 10px 100px white ;
}
.form input:active, .hypo input:active {
    padding: 2px 3px;
    margin: 0;
    border-radius: 0;
    box-shadow: 10px 10px 50px yellow;
}
#myButtonAge, #myButton, #submitButton, #increaseBtn, #resetBtn, #decreaseBtn, #rngButton {
    font-size: 14px;
    margin: 10px 0px 10px;
    padding: 5px;
    width: 20mm;
    transition: .3s;
}
#myButtonAge:hover, #myButton:hover, #submitButton:hover, #increaseBtn:hover, #resetBtn:hover, #decreaseBtn:hover, #rngButton:hover {
    box-shadow: 1px 10px 50px cyan;
    background-color: black;
    color: white;
    margin: 15px;
    padding: 7px;
}
#increaseBtn:active, #resetBtn:active, #decreaseBtn:active, #rngButton:active, #myButtonAge:active, #myButton:active,#rngButton:active {
    box-shadow: 1px 10px 50px darkcyan;
    background-color: gray;
    color: black;
}